{
    "token": "7152699322:AAE8-dKwtGCVnnXe5KKrAgA6ohFXBB3y2YI",
    "admin_list": [7097725014],
    "open_lobby": true,
    "enable_translations": false,
    "workers": 32,
    "default_gamemode": "fast",
    "waiting_time": 60,
    "time_removal_after_skip": 15,
    "min_fast_turn_time": 10,
    "min_players": 2
}
